<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/underscore.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/data.js"></script>
    <script type="text/javascript" src="./assets/javascript/heart-test1.js"></script>
    <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/heart-test1.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid" id="cover">
      <div class="text-content">
        <p align="justify">
          每个家庭、每个人心里，都有着不同的家长与子女的相处方式，严厉的父母和温柔的父母，到底哪一种对孩子来说才是最好的父母？先来测一测你是哪种类型的家长？
        </p>
      </div>
      <div id="start" class="button">
        <button type="button" class="btn btn-danger">开始测试</button>
      </div>
    </div>
    <div class="container-fluid hidden" id="question-list"></div>
    <div class="container-fluid hidden" id="result-list"></div>
    <div id="reset" class="hidden button">
      <button type="button" class="btn btn-danger">重新测试</button>
    </div>
  </body>
  <script type="text/template" id="q_tpl">
    <% _.each(datas,function(data) { %>
        <div class="question hidden" id="question-<%= data.num%>">
          <div class="question-des"> <%= data.num %>.<%= data.question %> </div>
          <div class="answer-list">
            <% _.each(data.answers,function(answer) { %>
               <div class="answer">
                 <img src = <%= answer.src %> >
                 <input type="radio" data-serial-num= <%= data.num%> value= <%= answer.value %>><span class="des" ><%= answer.des %></span></input>
               </div>
             <% }); %>
          </div>
         </div>
    <% }); %>
  </script>

  <script type="text/template" id="r_tpl">
    <% _.each(datas,function(data) { %>
      <div id=<%= data.type %> class="result hidden" >
        <div class="animal">
          <img src= <%= data.src%>>
        </div>
        <div class= "result-describe">
          <p align="justify"><%= data.detail %></p>
        </div>
      </div>
    <% }); %>
  </script>
</html>
