<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/underscore.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/data.js"></script>
    <script type="text/javascript" src="./assets/javascript/heart-test.js"></script>
    <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/heart-test.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="cover">
      <p>
        每个家庭、每个人心里，都有着不同的家长与子女的相处方式，严厉的父母和温柔的父母，到底哪一种对孩子来说才是最好的父母？先来测一测你是哪种类型的家长？
      </p>
    </div>
    <div class="container-fluid hidden" id="questions"></div>
    <div class="container-fluid hidden" id="result"></div>
    <div id="start" class="button">
      <button type="button" class="btn btn-danger">开始测试</button>
    </div>
    <div id="reset" class="hidden button">
      <button type="button" class="btn btn-danger">重新测试</button>
    </div>
  </body>
  <script type="text/template" id="q_tpl">
    <% _.each(datas,function(data) { %>
        <div class="question hidden" id="question-<%= data.num%>">
          <h5> <%= data.num %>.<%= data.question %> </h5>
          <div class="answer-list">
            <% _.each(data.answers,function(answer) { %>
               <div class="answer">
                 <img src = <%= answer.src %> >
                 <input type="radio" data-serial-num= <%= data.num%> value= <%= answer.value %>><span class="des" ><%= answer.des %></span></input>
               </div>
             <% }); %>
          </div>
         </div>
    <% }); %>
  </script>

  <script type="text/template" id="r_tpl">
    <% _.each(datas,function(data) { %>
      <div id=<%= data.type %> class="result hidden" >
        <p><%= data.detail %></p>
      </div>
    <% }); %>
  </script>
</html>
