.answer-list {
  text-align:left;
}

.answer-list > .answer {
  margin: 20px 10px 30px
}

input[type="radio"] {
  margin: 0 0 0 10px;
  width:20px;
  height:20px;
}

span.des {
  margin:0 0 0 20px;
  font-size:30px;
}

.question {
  display:none;
}

.question.active {
  display:block;
}


.result {
  display:none;
}

.result.active {
  display:block;
}

.reset {
  text-align:center;
}
