body {
  background-color:#fffff7;
}

.answer-list {
  text-align:left;
}

.answer-list > .answer {
  margin: 20px 10px 30px
}

input[type="radio"] {
  margin: 0 0 0 10px;
  width:20px;
  height:20px;
}

span.des {
  margin:0 0 0 20px;
  font-size:20px;
  color:#2c3e50;
}

.active {
  display:block;
}

.hidden {
  display:none;
  position:absolute;
}

.button {
  text-align:center;
}

.container-fluid {
  margin: 30px auto 0 auto;
}

#start > button {
  width:120px;
  height:35px;
  bottom:50px;
  background-color: #6b564a;
  border:none;
  border-radius:16px;
}

#cover {
  margin:0;
  background: url("../images/heart-test1/cover.png");
  background-position:center;
  background-size:cover;
  font-size:20px;
  color:#2c3e50;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  position:fixed;
}

#cover > .text-content {
  margin-top: 60px;
  color:#2c3e50;
}

#result-list {
  margin-top:0;
}

.animal {
  text-align:center;
  margin-bottom:20px;
}

.animal > img {
  width:150px;
  height:150px;
}

.result-describe {
  margin-top:30px;
  font-size:20px;
  letter-spacing:2px;
  color:#2c3e50;
  width:90%;
  margin:0 auto;
}

#reset {
  margin-bottom: 20px;
}


#reset > button {
  width:120px;
  height:35px;
  background-color: #6b564a;
  border:none;
  border-radius:16px;
}

.question-des {
  font-size:20px;
  color:#2c3e50;
}
